page-record {
  .search{
    width: calc(100% - 72px);
    float: left;
  }
  .cancel_button{
    width: 64px;
    margin: 0;
  }
  .title{
  }
  .searchbar-input{
    border-radius: 1.5rem !important;
  }
}
